
#loader {
  width: 80px;
  height: 70px;
  border: 5px solid #000;
  padding: 0 8px;
  box-sizing: border-box;
  background:
    linear-gradient(#fff 0 0) 0    0/8px 20px,
    linear-gradient(#fff 0 0) 100% 0/8px 20px,
    radial-gradient(farthest-side,#fff 90%,#0000) 0 5px/8px 8px content-box,
    #6757d9;
  background-repeat: no-repeat; 
  animation: l3 2s infinite linear;
}
@keyframes l3{
  25% {background-position: 0 0   ,100% 100%,100% calc(100% - 5px)}
  50% {background-position: 0 100%,100% 100%,0    calc(100% - 5px)}
  75% {background-position: 0 100%,100%    0,100% 5px}
}

#container {
    display: block;
    width: 700px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header div {
    display: flex;
    align-items: center;
}

.header p {
    color: #6757d9;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 10px;
}

.header span {
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: #6757d9;
    border-radius: 4px;
}

#question-box {
    display: flex;
    flex-direction: column;
}

h3 {
    background-color: #6757d9;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 60px 0 30px;
}

.answer-text {
    background-color: #fff;
    border: none;
    margin-bottom: 10px;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: left;
    cursor: pointer;
    border: 2px solid #fff;
    transition: all 0.2s ease-in;
}

.answer-text:hover {
    background-color: #eeedfb;
    border: 2px solid #fff ;
}

#next-button,
#finish-button {
    color: #6757d9;
    font-size: 1rem;
    background-color: #eeedfb;
    border: 2px solid #6757d9;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 20px 20px 0 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#next-button:hover,
#finish-button:hover {
    background-color: #6757d9;
    color: #fff;
} 